/* ===========================UNIVERAL STYLES======================== */


body{
    margin: O;
    padding: 0;
    background-color: #FFFFFF;
    font-family: RALEWAY,sans-serif;
    font-size: 16PX;
    font-weight: 400;
    color: #363636;
}

P{
    line-height: 190%;
}

a{
    text-decoration: none;
    color: #666633;
}
 /* ===========================MENU======================== */

#MENU{
    background-color: #ffa64d;
    height: 100PX;
}


#MENU ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#MENU li{
    display: inline-block;
}

#MENU a{
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100px;
    color: #FFFFFF;

    padding: 0 40px;
    border: none;
    display: block;
}



#MENU a:hover{
    background-color: #666633;
}

/* ===========================HEADER======================== */

#header{
    padding: 60px 0px 40px 0;
    background-color: #333333;
    text-align: center;
}

#header h1{
    letter-spacing: 0.1em;
    font-size: 40px;
    color: #FFFFFF;
}

#header p{
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* ===========================BANNER======================== */

#banner{
    height: 600px;
}

#banner img{
    width: 100%;
    height: 600px;
}

/* ===========================PAGE======================== */

#page{
    min-height: 400px;
    padding: 20px;
}

#page h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: #666633;
}

/* ===========================CONTENT======================== */

#content{
    float: left;
    width: 70%;
}

/* ===========================SIDEBAR======================== */

#sidebar{
    float: right;
    width: 25%;

}

/* ===========================LISTS======================== */

ul.styled{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.styled li{
    border-top: solid 1px #e5e5;
    padding: 14px 0px;
}


 /* ===========================FOOTER======================== */

 #footer{
    width: 100%;
    height: 340px;
    background-color:#1e1b1a ;
    padding-top: 25px;
    padding-left: 22px;
    clear: both;
 }

 #footer h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 #footer p{
    color: #adadad;
 }

 #footer a{
    color: #adadad;
 }

 #box1{
    float: left;
    width: 30%;
    padding-right: 30px;
 }

 #box2 {
    float: left;
    width: 30%;
    padding-right: 30px;
}

 #box3{
    float: right;
    width: 30%;
    padding-left: 30px;
 }

  /* ===========================COPYRIGHT======================== */

  #copyright{
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #ffa64d;
    padding-top: 55px;
    clear: both;
  }

  #copyright p{
    font-size: 12px;
    letter-spacing: 0,1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

/*======================== GALLERY  =======================*/

#gallery img{
	width:120px;
	margin:12px;
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
}

#gallery img:hover{
	-moz-transform: scale(3);
	-webkit-transform: scale(3);
	-o-transform: scale(3);
 }

































